.App {
  text-align: center;
}


/* App.css */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 60px auto;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(121, 8, 123, 0.1);
}

input[type="text"]:focus {
  border-color: #ffa726;
  outline: none;
}

 button {
  padding: 10px 20px;
  background-color: #ffa726;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

 button:hover {
  background-color: #fb8c00;
}


